/*미디어쿼리 해상도 3단 분기점*/
@media (min-width:1024px) {
  /*pc*/
}

@media (max-width:1023px) and (min-width:768px) {
  /*태블릿*/
}

@media (max-width:767px) {
  /*스마트폰*/
}


/*미디어쿼리 호버효과 분기점*/
@media (any-hover:hover) and (any-hover:fine) {
  /*호버 가능*/
}

@media (hover:none) {
  /*호버 불가능*/
}






/*
반응형 웹을 만들때 1차적으로는 모든 디바이스에 같은 UI/UX를 적용하는 것이 좋다(=호버로 GNB오픈 등 주요 이벤트를 발생시키지 않도록 한다). 불가피한 경우, 호버가 가능한 경우와 호버가 불가능한 경우로 나눠서 효과를 적용해야 한다.


1. 해상도를 분기점으로 레이아웃을 잡는다.
2. 콘텐츠를 담는 warp의 너비는 기본적으로 유동적으로 해야함. 대신 max-width를 이용하여 기준 이상으로 넓어지지 않게 할 수 있음

3. 같은 해상도라도 호버가 가능/불가능할 수 있으므로, 각각 만들어줘야 함
*/






/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/* 공통 & 호버가능 pc기본 웹 지원 *************************** */
:root {

  /*속성값별 분류 -----------------------------------------*/
  /*폰트 스타일--------------------*/
  --root-font-size: 62.5%;
  /*html폰트 사이즈*/
  --font-family-title: 'gms', sans-serif;
  /*타이틀 글씨체*/
  --font-family-btn: 'ygt', sans-serif;
  /*네비, 버튼 글씨체*/
  --font-family-main: 'SUITE Variable', sans-serif;
  /*기본&본문 글씨체*/

  /*색 스타일 HEX--------------------*/
  --color-b: #222;
  /*기본 검정*/
  --color-w: #fff;
  /*기본 하얗*/

  --color1: #004EFF;
  /*버튼*/
  --color2: #67A0FF;
  /*타이틀*/
  --color3: #EFF2F7;
  /*배경*/
  --color4: #5834A3;
  /*타이틀*/

  /*색 스타일 변형 rgba/hsl--------------------*/
  --hsl-color2: hsl(218, 100%, 20%);
  /*(70%)*/
  --hsl-color4: hsl(259.459, 52%, 70%);
  /*(42%)*/
  --rgba-color1: rgba(0, 78, 255, 0.3);
  --rgba-color4: rgba(88, 25, 163, 0.3);

  /*그림자 스타일 --------------------*/
  --box-shadow-short: 3px 3px 10px #00000044;
  --box-shadow-long: 3px 6px 20px #00000033;
  /* 기본 긴그림자 */










  /*섹션별 분류 -------------------------------------------*/
  /*wrap 사이즈--------------------*/
  --wrap-width: 94%;
  /* 콘텐츠 너비*/
  --wrap-max-width: 1240px;
  /*최대 콘텐츠 너비*/

  /*헤더 스타일--------------------*/
  --header-height: 100px;
  /*헤더 높이*/








  /*자주사용하는 값 축약 ------------------------------------------------*/
  --img-bundle: url(../img/deco/bundle.svg) no-repeat;
  /*번들 이미지*/





}



@media (max-width:1023px) {

  /*태블릿*/
  :root {
    --root-font-size: 65%;
    --header-height: 100px;
  }


  @media (max-width:767px) {

    /*스마트폰*/
    :root {
      --header-height: 70px;
    }


  }
}













/* 요소 공통 스타일 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 추가 스타일 ============================================== */

.s-btn1 {
  --event-color: hsl(222, 100%, 30%);
  font-family: 'ygt';
  font-size: 2rem;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 100em;
  border: 1px solid var(--color1);
  border-color: var(--color1);
  background: var(--color1);
  color: var(--color-w);
}
.s-btn1.on {
  /*js*/
  background-color: var(--event-color);
  color: var(--color-w);
  box-shadow: var(--box-shadow-short);
}

@media (any-hover:hover) and (any-pointer:fine) {
  .s-btn1:hover {
    background-color: var(--event-color);
    color: var(--color-w);
    box-shadow: var(--box-shadow-short);
  }
}


.s-tit1 {
  --font-size-dt: 6rem;
  --font-size-dd: 2rem;
  font-size: clamp(26px, var(--font-size-dt), 60px);
  font-family: var(--font-family-title);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin: 150px 0 100px;
}
.s-tit1 dt span {
  color: var(--color2);
}
.s-tit1 dd {
  font-family: var(--font-family-main);
  font-size: clamp(16px, var(--font-size-dd), 40px);
  margin-top: 0.2em;
}
@media (max-width:1023px) {
  .s-tit1 {
    --font-size-dt: 5vw;
    --font-size-dd: 2vw;
    margin: 8vh 0 100px;
  }
}
@media (max-width:767px) {
  .s-tit1 {
    --font-size-dt: 5vw;
    --font-size-dd: 1.6vw;
    margin: 8vh 0 4vh;
  }
}


.s-tit2 {  
  --font-size-dt: 3.4rem;
  --font-size-dd: 2.2rem;
  font-family: var(--font-family-btn);
  font-weight: bold;
  line-height: 1.2;
}
.s-tit2 dt {
  font-size: clamp(20px, var(--font-size-dt), 34px);
  font-weight: 900;
  color: var(--color4);
}
.s-tit2 dd {
  font-family: var(--font-family-main);
  font-size: clamp(18px, var(--font-size-dd), 28px);
  margin-top: 0.6em;
  line-height: 1.4;
}

@media (max-width:767px) {
  .s-tit2 {
    --font-size-dt: 7vw;
    --font-size-dd: 3vw;
  }
}



.s-ir1 {
  /*번들 이미지를 사용한 ir*/
  display: block;
  background: var(--img-bundle);
  border-radius: 100%;
  box-shadow: var(--box-shadow-short);
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 50px;
  height: 50px;

}

@media (any-hover:hover) and (any-pointer:fine) {
  .s-ir1:hover {
    box-shadow: 2px 2px 15px var(--color2);
  }
}




.s-itembox-outer {
  --item-border-radius: 26px;
  /*둥근 모서리*/

  border-radius: var(--item-border-radius);
  box-shadow: var(--box-shadow-long);
  display: block;
  position: relative;
  cursor: pointer;

}

.s-itembox-inner {
  border-radius: var(--item-border-radius);
  box-shadow: inset -3px -3px 30px var(--rgba-color4);
  background-color: var(--color3);
  width: 100%;
  height: 100%;
  padding: 2.6vw 10%;
  margin: auto;
}

.s-item-img {
  --border-radius: 10px;
  display: block;
  border-radius: var(--border-radius);
  /*  box-shadow: var(--box-shadow-long);*/
  margin: auto;
  position: relative;

}

.s-item-img::after {
  border-radius: var(--border-radius);
  box-shadow: inset var(--box-shadow-long);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}









/* 디폴트 스타일 ============================================== */

html {
  font-size: var(--root-font-size);
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: var(--color-b);
  font-family: var(--font-family-main);
  font-size: 1.6rem;
  overflow: hidden;
  box-sizing: border-box;

}

.wrap {
  width: var(--wrap-width);
  max-width: var(--wrap-max-width);
  /* 최대 콘텐츠 너비*/
  margin: 0 auto;
  position: relative;
}

.wrap::after,
ul::after,
.cl::after {
  content'';
  clear: both;
  display: block;
}

.fl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blind {
  position: absolute;
  left: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}