/* html, body ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 공통 pc기본 ********************************* */
body {
  background: url(../img/deco/bg_balls.svg) no-repeat;
  background-position: 0 20rem;
  background-size: cover;
}

/* 태블릿 ************************************* */
@media (max-width:1023px) {
  body {
    background-size: 150%;
  }

  /* 태블릿 터치 스크린 */
  @media (hover:none) {}

  /* 스마트폰 ********************************* */
  @media (max-width:767px) {
    body {
      background-size: cover;
      background-position: 0 28rem;
    }
  }
}











/* header ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 공통 pc기본 ********************************* */
.header {
  background-color: #ffffff1A;
  font-family: 'ygt';
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.header.scroll {
  background-color: #ffffffef;
}

.header__wrap {
  margin: 0 auto;
  height: var(--header-height);
  width: var(--wrap-width);
  max-width: var(--wrap-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2%;
}

.header__left {
  flex: 0 60px;
}

.header__center {
  flex-grow: 1;
  text-align: end;
}

.nav__btn {
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.5em 1em;
  margin-left: 8%;
  position: relative;

}

.nav__btn.on {
  color: var(--color1);
  font-weight: bold;
}

.nav__btn:not(.header__blog, .header__github)::after {
  content: '';
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background: var(--color1);
  position: absolute;
  left: 50%;
  bottom: 2px;
}
.nav__btn.on:hover {
  color: var(--color1);
}
@media(hover:hover) and (any-pointer:fine) and (min-width:768px) {
  .nav__btn:hover {
    color: var(--color1);
  }

  .nav__btn:not(.header__blog, .header__github):hover::after {
    width: 64%;
    left: 18%;
  }
}


.header__blog {
  border-color: var(--color1);
  background: var(--color-w);
  color: var(--color1);

}

@media (any-hover:hover) and (any-pointer:fine) and (min-width:768px) {
  .header__blog:hover {
    color: var(--color-w);
  }
}

.header__github {
  margin-left: 2%;

}

@media (any-hover:hover) and (any-pointer:fine) and (min-width:768px) {
  .header__github:hover {
    color: var(--color-w);
  }
}

.header__right {
  display: none;
}

.header__blank {
  height: var(--header-height);
  position: relative;
}

.header__blank::after {
  content: '';
  display: block;
  background: url(../img/deco/bg-ballstop.svg) no-repeat center/contain;
  width: 100%;
  height: 559px;
  position: absolute;
  left: 0;
  top: -15rem;
}

/* 태블릿 사이즈 이하 *************** */
@media (max-width:1023px) {
  .nav__btn {
    margin-left: 0;
  }

  .s-btn1 {
    padding: 0.5em 0.8em;
  }

  .header__blank::after {
    top: -19rem;
  }

  /* 스마트폰 사이즈 이하********** */
  @media (max-width:767px) {

    html.on,
    body.on {
      /*js*/
      overflow-y: hidden;
    }

    .header {
      box-shadow: 0 6px 6px #0000001A;
    }

    .header__logo-img {
      width: 60px;
      object-fit: scale-down;
    }

    .header__center {
      position: absolute;
      width: 100%;
      left: 0;
      top: var(--header-height);
      /* js */
      height: 0;
      overflow: hidden;
    }

    .header__center.on {
      /*js*/
      background-color: #00000033;
      height: 100vh;
    }

    .nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 0 6px 6px #0000001A;
    }

    .nav__btn {
      --event-color: hsl(218, 33%, 90%);
      width: 100%;
      margin: 0;
      padding: 0.8em;
      border-radius: 0;
      border: 1px solid #fff;
      text-align: center;
      background-color: var(--color3);
    }

    @media (any-hover:hover) and (any-pointer:fine) {
      .nav__btn:hover {
        background-color: var(--event-color);
        color: var(--color2);
      }
    }

    .header__blog,
    .header__github {
      background-color: var(--event-color);
      color: var(--color1);
    }

    @media (any-hover:hover) and (any-pointer:fine) {

      .header__blog:hover,
      .header__github:hover {
        background-color: hsl(218, 33%, 80%);
        color: var(--color1);
        box-shadow: none;
      }
    }

    .header__right {
      display: block;
    }

    .header__right-btn {
      text-align: center;
      height: 100%;
      font-size: 50px;
      color: var(--color-b);
    }

    @media (any-hover:hover) and (any-pointer:fine) {
      .header__right-btn:hover {
        color: var(--color2);
      }
    }

    .header__right-btn.on {
      /*js*/
      color: var(--color2);
    }

    .header__blank::after {
      display: none;
    }

  }
}









/* footer ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 공통 pc기본 ********************************* */
.footer {
  padding: 0 0 50px;
  background-color: var(--rgba-color4);
  color: var(--color-w);
}

.footer .wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__copy,
.footer__sns {
  padding-top: 30px;
  line-height: 1.4;
}

.footer .s-ir1 {
  width: 30px;
  height: 30px;
  background-position: 0 -210px;
  margin-left: 16px;
  box-shadow: none;
}

@media (any-hover:hover) and (any-pointer:fine) {
  .footer .s-ir1:hover {
    box-shadow: none;
  }
}

/* 태블릿 ************************************* */
@media (max-width:1023px) {
  /* 태블릿 사이즈 이하 ****** */

  @media (max-width:767px) {
    /* 스마트폰 사이즈 이하 ** */
    .footer {
      font-size: 1.2rem;
      padding: 0 0 5%;
    }
    .footer__copy,
    .footer__sns {
      text-align: center;
      width: 100%;
      margin: 0 5%;
      padding: 3% 0 0;
    }
  }
}





/* section 공통
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 공통 pc기본 ********************************* */


/* 태블릿 ************************************* */
@media (max-width:1023px) {
  /* 태블릿 사이즈 이하 ****** */

  @media (max-width:767px) {
    /* 스마트폰 ****** */

  }
}





/* section of index
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* #index-main 공통 pc기본 ********************************* */
#index-main {
  justify-content: space-between;
  margin-top: 100px;
}

.index-main__intro-contect {
  justify-content: flex-start;
  margin-top: 1.5em;

}
.index-main__intro-title {
  --font-size-dt: 6rem;
  --font-size-dd: 4rem;
  text-align: start;
  margin: 0;
}

.index-main__intro-contect button {
  position: relative;
  z-index: 1;
  padding: 0.5em 2em;
}

.intro-contect__list {
  margin-left: -2em;
  width: 0;
  overflow: hidden;
}

.intro-contect__list.on {
  /*js*/
  margin-left: 1em;
  width: 10em;
  overflow: visible;
}

.intro-contect__list li a {
  margin-right: 10px;
}

.index-main__deco {
  background: url(../img/deco/obj_mainbg.svg) no-repeat center;
  background-size: 95%;
  margin-right: 5em;
  position: relative;
  top: 20px;
  z-index: -1;
}

.index-main__deco-girl {
  background: url(../img/deco/obj_maingril.svg) no-repeat;
  background-size: contain;
  max-width: 500px;
  max-height: 677px;
  width: 26vw;
  height: 34.74vw;
  position: relative;
  left: -2vw;
}

.index-main__deco-sprinkles {
  background: url(../img/deco/obj_mainsprinkles.svg) no-repeat;
  background-size: contain;
  max-width: 780px;
  max-height: 331px;
  width: 40.6vw;
  height: 17.24vw;
  position: absolute;
  left: -8vw;
  bottom: -5vw;
}

/* 태블릿 사이즈 이하 *********** */
@media (max-width:1023px) {
  #index-main {
    justify-content: space-around;
  }
  .index-main__intro-title {
    --font-size-dt: 8vw;
    --font-size-dd: 5vw;
  }
  .index-main__deco {
    margin-right: 2em;
    padding-bottom: 50px;
  }

  .index-main__deco-sprinkles {
    bottom: 0;
  }

  /* 태블릿 터치 스크린 ********** */
  @media (hover:none) {
    #index-main {
      height: calc(100vh - var(--header-height));
      margin: 0 auto;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .index-main__intro-contect button {
      display: none;
    }

    .intro-contect__list {
      margin-left: 0;
      column-gap: 1em;
      width: auto;
      overflow: visible;
    }

    .intro-contect__list li a {
      margin-right: 0;
    }

    .index-main__deco {
      margin-right: 2em;
      padding-bottom: 50px;
    }

    .index-main__deco-sprinkles {
      bottom: 0;
    }
  }

  /* 스마트폰 ***************** */
  @media (max-width:767px) {
    #index-main {
      height: calc(100vh - var(--header-height));
      margin: 0 auto;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .index-main__intro {
      text-align: center;
    }
    .index-main__intro-title {
      --font-size-dt: 11vw;
      --font-size-dd: 6vw;
    }
    .index-main__intro-contect {
      justify-content: center;
    }

    .index-main__intro-contect button {
      display: none;
    }

    .intro-contect__list {
      margin-left: 0;
      column-gap: 1em;
      width: auto;
      overflow: visible;
    }

    .intro-contect__list li a {
      margin-right: 0;
    }

    .index-main__deco {
      margin-top: 3vh;
      margin-right: 0;
      padding-bottom: 50px;
      background-position: 50% 30%;
    }

    .index-main__deco-girl {
      width: calc(26vw * 1.5);
      height: calc(34.74vw * 1.5);
    }

    .index-main__deco-sprinkles {
      width: calc(40.6vw * 1.5);
      height: calc(17.24vw * 1.5);
      left: -12vw;
      bottom: 8vw;
    }
  }
}







/* #index-about 공통 pc기본 ********************************* */
#index-about {
  margin-top: 150px;
  padding: 120px 0;
  background: url(../img/deco/bg_color.svg) no-repeat center/cover;
}

.index-about__title dd {
  position: relative;
  display: inline-block;
}

.index-about__title dd::after {
  content: '';
  display: block;
  background: url(../img/deco/obj_rings.svg) no-repeat;
  width: 86px;
  height: 127px;
  position: absolute;
  right: -1.4em;
  top: -2.6em;
  opacity: 0.3;
}

.index-about__cont {
  margin-top: 40px;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 5em;
}

.index-about__cont-txt {
  flex: 1 auto;
  line-height: 1.4;
  font-size: 1.7rem;
  word-break: keep-all;
}

.index-about__cont-txt span {
  position: relative;
}

.index-about__cont-txt span::after {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  background: var(--rgba-color4);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.index-about__cont-img {
  flex: 0 400px;
  width: 30vw;
  max-width: 400px;
  position: relative;
}

.index-about__cont-img::before {
  content: '';
  display: block;
  background: url(../img/deco/obj_dots-h.svg) no-repeat;
  width: 252px;
  height: 42px;
  position: absolute;
  right: -30px;
  top: -70px;
}

.index-about__cont-img::after {
  content: '';
  display: block;
  background: url(../img/deco/obj_dots-v.svg) no-repeat;
  width: 32px;
  height: 190px;
  position: absolute;
  left: -4vw;
  bottom: 0;
}

.index-about__cont-img img {
  width: inherit;
  max-width: inherit;
}

.index-about__sns {
  margin-top: 80px;
}

.index-about__sns-title {
  text-align: center;
  color: var(--color1);
  font-size: 1.8rem;
}

.index-about__sns-list {
  margin-top: 1em;
  column-gap: 1em;
}


/* 태블릿 **************************** */
@media (max-width:1023px) {
  #index-about {
    --wrap-width: 70%;
  }

  .index-about__title {
    text-align: center;
  }

  .index-about__cont {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    column-gap: 2em;
  }

  .index-about__cont-txt {
    margin-top: 30px;
    font-size: 1.6rem;
    word-break: normal;
  }

  .index-about__cont-txt span {
    word-break: keep-all;
  }

  .index-about__cont-img {
    text-align: center;
    width: 40vw;
  }

  .index-about__cont-img::before {
    display: none;
  }

  /* 태블릿 터치 스크린 */
  @media (hover:none) {}

  /* 스마트폰 *********************** */
  @media (max-width:767px) {
    #index-about {
      --wrap-width: 88%;
      margin-top: 0;
    }

    .index-about__cont-img {
      width: 70%;
      min-width: 300px;
    }

    .index-about__cont-txt {
      font-size: 1.5rem;
    }


  }



}






/* #index-skill 공통 pc기본 ********************************* */

#index-skill {
  overflow: hidden;
}

.index-skill__wrap {
  padding: 120px 0 200px;
}

.index-skill__wrap::before {
  content: '';
  display: block;
  background: url(../img/deco/obj_balls.svg) no-repeat center;
  background-size: contain;
  width: calc(2024px * 3);
  height: calc(1670px * 3);
  position: absolute;
  left: calc(50% - calc(1012px * 3));
  top: -1000px;
  z-index: -1;
  transform: rotate(-90deg);
  opacity: 0;
  transition: 1s;
}

.index-skill__wrap.on::before {
  width: calc(2024px * 0.8);
  height: calc(1670px * 0.8);
  left: calc(50% - calc(2024px * 0.8 / 2));
  top: -250px;
  transform: rotate(-30deg);
  opacity: 1;
}


.index-skill__title {
  text-align: center;
}


.index-skill__cont {
  --border-radius: 50px;
  margin-top: 50px;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--box-shadow-long);
}

.index-skill__cont-list {
  width: 100%;
  border-radius: var(--border-radius);
  border: 4px solid var(--color-w);
  background-color: rgba(103, 160, 255, 0.1);
  box-shadow: inset -3px -3px 30px var(--rgba-color4);
  flex-wrap: wrap;
  padding: 3%;
  column-gap: 2.5%;

}

.index-skill__cont-list li {
  flex-basis: calc(90% / 5);
  margin-bottom: 3%;
}

.skill__ico {
  background: var(--img-bundle);
  background-position: 0 -120px;
  height: 80px;
  width: 80px;
}

.skill__prograss {
  --height: 26px;
  --border-radius: 30px;

  width: 100%;
  margin-top: 8%;
  height: var(--height);
  border-radius: var(--border-radius);
  box-shadow: inset var(--box-shadow-short)
}

.skill__prograss-bar {
  width: 0%;
  height: 100%;
  border-radius: var(--border-radius);
  background: linear-gradient(90deg, var(--color3) 0%, #AF18FD 100%);
  box-shadow: inset -6px -6px 10px var(--color4);
  transition: 0.8s;
}

.on.prograss-html {
  width: 70%;
}

.on.prograss-css {
  width: 70%;
}

.on.prograss-js {
  width: 60%;
}

.on.prograss-xd {
  width: 70%;
}

.on.prograss-ps {
  width: 70%;
}

.on.prograss-li {
  width: 70%;
}

.on.prograss-fc {
  width: 60%;
}

.on.prograss-ms {
  width: 60%;
}


.skill__item-hover {
  width: 100%;
  height: 100%;
  border-radius: var(--item-border-radius);
  box-shadow: 3px 6px 30px var(--color4);
  border: 4px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media (any-hover:hover) and (any-pointer:fine) {
  .index-skill__cont-list li:hover .skill__item-hover {
    opacity: 1;
  }
}

@media (hover:none) {
  .index-skill__cont-list li.on .skill__item-hover {
    opacity: 1;
  }
}


.skill__item-hover dl {
  padding: 1.4vw;
}

.skill__item-hover dl dt {
  font-weight: bold;
  font-size: 1.8rem;
  justify-content: space-between;
}

.skill__item-hover dl dt a {
  border-radius: 100%;
  color: var(--color-w);
  background: var(--color4);
  padding: 3.4% 5%;
  transform: rotate(0deg);
  transition: 1s;
}

.skill__item-hover dl dt a.on {
  transform: rotate(720deg);
}

@media (any-hover:hover) and (any-pointer:fine) {
  .index-skill__cont-list li:hover .skill__item-hover dl dt a {
    transform: rotate(720deg);
  }
}

.skill__item-hover dl dd {
  margin-top: 6%;
  line-height: 1.4;
  font-size: clamp(12px, 1.3vw, 16px);
}


/* 태블릿 ************************************* */
@media (max-width:1023px) {
  /* 태블릿 사이즈 이하 ****** */


  .index-skill__wrap::before {
    width: calc(2024px * 2);
    height: calc(1670px * 2);
    left: calc(50% - calc(1012px * 2));
  }

  .index-skill__wrap.on::before {
    width: calc(2024px * 0.5);
    height: calc(1670px * 0.5);
    left: calc(50% - calc(2024px * 0.5 / 2));
    top: -50px;
  }

  .index-skill__cont {
    --border-radius: 30px;
  }

  .index-skill__cont-list {
    column-gap: 3%;
  }

  .index-skill__cont-list li {
    flex-basis: calc(91% / 4);
  }

  .skill__item-hover dl {
    padding: 2vw 1.5vw;
  }

  .skill__item-hover dl dt {
    font-size: clamp(15px, 2vw, 18px);
  }

  .skill__item-hover dl dd {
    margin-top: 6%;
    font-size: clamp(13px, 1.4vw, 16px);
  }




  @media (max-width:767px) {
    /* 스마트폰 ****** */

    .index-skill__wrap::before {
      display: none;
    }

    .index-skill__title dd {
      width: 80%;
      margin: 0.6em auto 0;
      word-break: keep-all;
    }

    .s-itembox-inner {
      padding: 4vw 10%;
    }

    .index-skill__cont-list {
      padding: 6vw 6vw 0 6vw;
      column-gap: 10%;
    }

    .index-skill__cont-list li {
      flex-basis: calc(90% / 2);
      margin-bottom: 6vw;
      max-width: 200px;
    }

    .skill__item-hover dl {
      padding: 3vw 2vw;
    }

    .skill__item-hover dl dt {
      font-size: clamp(15px, 1.8rem, 24px);
    }

    .skill__item-hover dl dd {
      margin-top: 5%;
      line-height: 1.3;
      font-size: clamp(13px, 1.4rem, 18px);
    }

    .skill__prograss {
      --height: 20px;
      margin-top: 14%;
    }


    @media (hover:none) {
      .s-itembox-outer {
        --item-border-radius: 20px;
      }

      .skill__item-hover dl dt {
        font-size: clamp(15px, 2vw, 18px);
      }

      .skill__item-hover dl dd {
        font-size: clamp(13px, 1.4vw, 16px);
      }


    }
  }
}








/* section of project
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* #project-main 공통 pc기본 ********************************* */
#project-main {
  padding-bottom: 200px;
}
.project-main__title {
  position: relative;
}
.project-main__title::before {
  content: '';
  display: block;
  background: url(../img/deco/obj_projectgirl.svg) no-repeat;
  background-size: contain;
  width: calc(357px * 0.9);
  height: calc(330px * 0.9);
  position: absolute;
  left: 0;
  top: -40%;
  z-index: -1;
}

.project-main__cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3%;
}
.project__item {
  min-width: 200px;
}

@media (any-hover:hover) and (any-pointer:fine) {
  .project__item:hover {
    box-shadow: 3px 3px 30px var(--color2);
  }
  .project__item:hover .project__item-des dt {
    color: var(--color2);
  }
}


.project__item-inner {
  box-shadow: inset -3px -3px 30px var(--rgba-color1);
  justify-content:center;
  align-items: center;
  flex-direction: column;
  max-height: 350px;
  padding: 6%;
}
.project__item-img {
  --border-radius: 15px;
  background: url(../img/cont/project_yd.svg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 15vw;
  max-height: 200px;
}
.p-md .project__item-img {
  background-image: url(../img/cont/project_md.svg);
}
.p-pf .project__item-img {
  background-image: url(../img/cont/project_pf.svg);
}


.project__item-des {
  margin-top: 5%;
  text-align: center;
  font-family: var(--font-family-title);
  width: 100%;
}
.project__item-des dt {
  font-size: clamp(1.6rem, 1.2vw, 2.4rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project__item-des dd {
  font-family: var(--font-family-main);
  margin: 4% 0;
  color: #aaa;
  font-size: 1.4rem;
}


/* 태블릿 ************************************* */
@media (max-width:1023px) {
  /* 태블릿 사이즈 이하 ****** */
  #project-main {
    padding-bottom: 20vw ;
    width: 90%;
  }

  .project-main__title::before {
    width: calc(357px * 0.7);
    height: calc(330px * 0.7);
    top: 0;
  }
  
  .project-main__cont {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 7%;
  }
  
  .project__item-des {
    margin-top: 8%;
    text-align: center;
  }

  .project__item-des dt {
    font-size: clamp(1.5rem, 1.8vw, 2.6rem);
  }
  .project__item-des dd {
    margin-top: 4%;
    font-size: 1.4rem;
  }
  .project__item-img {
    height: 22vw;
  }

  @media (max-width:767px) {
    /* 스마트폰 ****** */
    #project-main {
      padding-bottom: 280px;
    }
    #project-main::after {
      content: '';
      display: block;
      background: url(../img/deco/obj_projectgirl.svg) no-repeat;
      background-size: contain;
      width: calc(357px * 0.6);
      height: calc(330px * 0.6);
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }  

    .project-main__title::before {
      display: none;
    }
    .project-main__cont {
      margin: 0 5%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5%;
    }
    .project__item {
      --item-border-radius: 15px;
    }
    .project__item-inner {
      justify-content:space-between;
      align-items: center;
      flex-direction: row;
      padding: 4%;
    }  
    .project__item-des {
      margin: 0 4%;
      flex: 3;
      text-align: start;
      width: none;
    }
    .project__item-des dt {
      font-size: clamp(1.4rem, 2.5vw, 24rem);
      white-space: normal;
      word-break: keep-all;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .project__item-des dd {
      margin: 3% 0;
    }
    .project__item-img {
      --border-radius: 10px;
      flex: 2;
      width: none;
      height: 18vw;
      max-height: 120px;
    }
  }
}














#resume-main {
  padding-bottom: 200px;
}
#resume-main::after {
  content: '';
  display: block;
  background: url(../img/deco/obj_resumegirl.svg) no-repeat;
  background-size: contain;
  width: calc(262px * 0.9);
  height: calc(538px * 0.9);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}










