/* 헤더 +++++++++++++++++++++++++++++++++++++++++++++++ */



/*헤더 전체*/
#master-header {
  height: var(--header-height);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: var(--bg-color-w);
}

#master-header>* {
  display: flex;
  align-items: center;
}

/*헤더 왼쪽*/
#master-header_left {
  justify-content: flex-start;
}

#master-header_left>* {
  margin-right: 20px;
}

.mh_logo>a {
  display: flex;
}

.mh_logo>a>.logo-shaper {
  height: var(--icon-height);
  width: 108px;
}

.mh_logo>a>span {
  font-size: 10px;
  color: #606060;
}


/*헤더 가운데*/
#master-header_center {
  flex-grow: 1;
  justify-content: center;
}

.mh_search-back {
  display: none;
}

.mh_search-form {
  border: 1px solid transparent;
  border-right-color: var(--border-color);
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
  min-width: 0;
}

.mh_search-form.on {
  border-color: darkblue;
  box-shadow: inset 1px 1px 1px #bbb;
}

.mh_search-related {
  opacity: 0;
  position: relative;
}

.mh_search-related.on {
  opacity: 1;
  padding: 0 10px;
}

.mh_search-related .icon-container:hover {
  background: none;
}

.mh_search-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-right-color: transparent;
  border-radius: 50px 0 0 50px;
  padding-left: 20px;
}

.mh_search-input.on {
  border-color: transparent;
  padding-left: 0;
}

.mh_search-area {
  flex-grow: 1;
  width: 0;
  border: none;
  line-height: var(--icon-height);
  min-width: 50%;
  font-size: 1.6rem;
}

.mh_search-keyboard {
  background: url(../img/search-keyboard-icon.gif) no-repeat center;
  opacity: 0.6;
  min-width: 19px;
  width: 19px;
  height: calc(var(--icon-height) + 16px);
}

.mh_search-go {
  border: 1px solid var(--border-color);
  border-left: none;
  border-radius: 0 50px 50px 0;
  background: var(--icon-selected-color);
  position: relative;
}

.mh_search-go::after {
  content: '검색';

}

.mh_search-go>.icon-container {
  width: calc(var(--icon-width) + 36px);
  border-radius: 0 50px 50px 0;
}

.mh_search-open {
  position: relative;
  display: none;

}

.mh_search-open::after {
  content: '검색';
  width: 110%;
  left: -3px;
}


.mh_search-voice {
  margin-left: 16px;
  background: var(--icon-selected-color);
  border-radius: 100%;
  position: relative;
}

.mh_search-voice::after {
  content: '음성으로 검색';
  width: 230%;
  left: -70%;

}


/*헤더 오른쪽*/
#master-header_right {
  justify-content: flex-end;
}

#master-header_right>* {
  margin-left: 16px;
  position: relative;
}



.mh_render::after {
  content: '만들기';
  width: 130%;
  left: -15%;
}


.mh_alram::after {
  content: '알림';
  width: 110%;
  left: -5%;
}



@media (max-width:768px) {


  /*헤더 가운데*/
  #master-header_center {
    justify-content: flex-end;
  }

  #master-header_center.on {
    justify-content: center;
  }

  .mh_search-form {
    display: none;
  }

  .mh_search-go {
    display: none;
  }

  .mh_search-open {
    display: block;
  }

  .mh_search-voice {
    margin-left: 5px;
    background: none;
  }

  .mh_search-voice::after {
    content: '음성으로 검색';
    width: 230%;
    left: -70%;
  }

  /*헤더 오른쪽*/
  #master-header_right>* {
    margin-left: 5px;
  }


  @media (max-width:480px) {
    #master-header_left .logo {
      margin-right: 0;
    }


    .mh_search-voice {
      display: none;
    }

    .mh_alram {
      display: none;
    }





  }


}













/* 사이드네비 +++++++++++++++++++++++++++++++++++++++++++++++ */


#gnb {
  width: var(--gnb-width);
  position: fixed;
  z-index: 20;
  margin: var(--header-height) 0;
  font-size: 1.4rem;
  color: var(--side-nav-color);
  height: 93%;
  overflow-y: scroll;
  background: var(--bg-color-w);
}

.gnb__categoty {
  padding: 12px;
  border-bottom: 1px solid #dddddddd;
}

.gnb__item a,
.s_list-title a,
.s_list-brief {
  display: flex;
  align-items: center;
  height: calc(var(--icon-height) + 16px);
  padding: 0 12px;
  border-radius: 10px;
}

.gnb__item a,
.s_list-brief {
  cursor: pointer;
  position: relative;
}

.gnb__list-name {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(var(--icon-height) + 16px);
}

.gnb__list-name:not(#gnb__user .gnb__list-name) {
  padding: 0 12px;
}

.gnb__item-icon {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

#gnb__user .s_list-title .s_2color-icons {
  display: none;
}

#gnb__user .s_list-title .gnb__icon {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}

.gnb__item-name {
  font-size: 1.4rem;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

#gnb__subscribe .gnb__item.e_new .gnb__item-name:not(.s_list-brief .gnb__item-name)::after {
  content: '•';
  font-size: 20px;
  color: #065fd4;
  position: absolute;
  right: 12px;

}

#gnb__aboutyt {
  border-bottom: none;
}

.gnb__guide {
  font-size: 1.3rem;
  color: #666;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 12px 0;
}

.gnb__guide li {
  margin: 0 6px 5px 0;

}

.gnb__siteinfo {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 12px 0 0 12px;
  color: #888;
}

.gnb__siteinfo a {
  color: #065fd4;
}


/*event*/

.e_hide {
  display: none;
}

.gnb__item a:has(.gnb__icon-w.e_hide),
.gnb__item a:has(.gnb__icon.e_click) {
  background-color: var(--icon-selected-color);
}

.gnb__item-name.e_click {
  font-weight: 500;
}

@media (any-hover:hover) and (any-pointer:fine) {

  .gnb__item a:hover,
  .s_list-title a:hover,
  .s_list-brief:hover {
    background-color: var(--icon-selected-color);
  }
}


#gnb.e_open {
  width: auto;
  margin: var(--header-height) 0 0;
  padding: 6px 0 0 8.5px;
  overflow-y: hidden;
}

#gnb.e_open .gnb__categoty {
  border-bottom: none;
}

#gnb.e_open .gnb__categoty:not(#gnb__home, #gnb__user) {
  display: none;
}

#gnb.e_open #gnb__home,
#gnb.e_open #gnb__user {
  padding: 0;
}

#gnb.e_open #gnb__user .gnb__categoty-inner:not(.s_list-title) {
  display: none;
}

#gnb.e_open .gnb__item a {
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 14px;
  background: none;
}

@media (any-hover:hover) and (any-pointer:fine) {
  #gnb.e_open .gnb__item a:hover {
    background-color: var(--icon-selected-color);
  }
}


#gnb.e_open .gnb__item-icon {
  margin: 0;
}

#gnb.e_open #gnb__user .s_list-title .s_2color-icons {
  display: block;
}

#gnb.e_open #gnb__user .gnb__item-icon:not(.s_2color-icons) {
  display: none;
}

#gnb.e_open .gnb__item-name,
#gnb.e_open .gnb__list-name {
  width: auto;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  padding-top: 10px;
}



#gnb__header-btn-clone {
  display: none;
}

#blackscreen {
  width: 100vw;
  height: 100vh;
  background: #00000066;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  display: none;
}



@media (max-width:1300px) {
  #gnb {
    height: 100%;
    margin-top: 0;
  }

  #gnb__header-btn-clone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0 8px 16px;
  }

  #gnb.e_open #gnb__header-btn-clone {
    display: none;
  }

  #gnb__header-btn-clone .mh_nav-btn {
    margin-right: 20px;
  }
}












/* 메인 헤더 +++++++++++++++++++++++++++++++++++++++++++++++ */


#main {
  position: absolute;
  top: var(--header-height);
  left: var(--gnb-width);
  background: var(--bg-color-w);
}

#main__header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  padding: 0 20px;
  background: var(--bg-color-w);
}

.main__header-list {
  overflow: hidden;
}

.main__header-list {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: var(--icon-contaner-height);
}

.main__header-list-inner {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  transition: 0.3s;
}

.main__header-item {
  padding: 0.5em 1em;
  border-radius: 8px;
  background: var(--icon-selected-color);
  margin: 0 5px;
  transition: 0.3s;
  flex-shrink: 0;
  display: block;
}

.main__header-more {
  position: absolute;
  background: #fff;
  display: none;
}

.main__header-more.s_prev {
  left: 0;
}

.main__header-more.s_next {
  right: 0;
}

/*event*/
@media (any-hover:hover) and (any-pointer:fine) {
  .main__header-item:hover {
    background: var(--icon-hover-color);
  }
}

.main__header-more.e_show {
  display: block;
}



@media (max-width:1300px) {

  .main__header-more.s_prev::after,
  .main__header-more.s_next::before {
    content: "";
    display: block;
    width: 20px;
    height: var(--header-height);
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .main__header-more.s_prev::after {
    left: var(--icon-contaner-width);
    background: linear-gradient(90deg, #fff 30%, #ffffff00 100%);
  }

  .main__header-more.s_next::before {
    right: var(--icon-contaner-width);
    background: linear-gradient(-90deg, #fff 30%, #ffffff00 100%);
  }

}











/* 메인 컨텐츠+++++++++++++++++++++++++++++++++++++++++++++++ */
#main__contants {
  margin-top: 20px;
}

.main__contants-container {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 10px;
}

.main__contants-item {
  background: #ddd;
  margin: 0 10px;
  position: relative;
}

.main__item-tumbnail {
  width: 100%;
}

.main__tumbnail-img {
  border-radius: 15px;
  overflow: hidden;

}

.main__tumbnail-img img {
  object-fit: cover;
}


.main__tumbnail-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.main__tumbnail-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main__item-desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 16px;
}

.main__user-img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  overflow: hidden;
}

.main__desc-text {
  margin: 0 10px;
}

.main__text-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.4;
  word-break: break-all;
}

.main__text-user {
  margin-top: 8px;
  font-size: 1.4rem;
  color: #666;
}
.main__text-user-type {
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
}
.main__text-user-type::after {
  content: '•';
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
}



.main__desc-more {
  position: relative;
  top: -8px;
}
.main__item-feedback {
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 20px;
  color: blue;
  fill: blue;
  background: #def1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



/* event */
@media (any-hover:hover) and (any-pointer:fine) {
  .main__contants-item:hover .main__tumbnail-video {
    opacity: 1;
    transition: 0.3s;
  }
  
  .main__item-feedback:hover {
    background: #ddd;
  }
  
}





.video-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}








