/* SUITE */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/variable/woff2/SUITE-Variable.css");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}




/*리셋 추가--------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  /* transition: 0.2s; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: border-box;
/*  transition: 0.2s;*/
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  object-position: center;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

/* 디폴트 스타일 ============================================== */

html {
  font-size: 14px;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: #666;
  font-family: 'SUITE Variable', sans-serif; 
  font-size: 1.6rem;
  overflow: hidden;
  box-sizing: border-box;

}





/* 본문 ============================================== */

body {
  margin: 0 auto;
}
.lotto{
  margin: 0 auto;
}
.lotto img{
  width: 100%;
}
.letter {
  background: #F8FAFF;
  padding: 20px 30px 100px;
  margin: 0 auto;
}
.letter_frame {
  padding: 30px 20px;
  background: #fff;
  box-shadow: 4px 4px 4px #ccc;
}
.letter_contant {
  line-height: 2em;
  font-size: 1.2rem;
  word-break: keep-all;
}
.letter_contant span {
  font-weight: bold;
  font-size: 1.5rem;
}

.letter_contant .gray {
  color: #aaa;
}
.letter_contant .end {
  display: block;
  text-align:right;
}
.download {
  background: #fff;
  font-size: 16px;
  margin-top: 60px;
  color: #999;
  box-shadow: inset -4px -4px 4px #ddd;
  width: 120px;
  border-radius: 100px;
  padding: 1em 2em;
  position: absolute;
  left: calc(50% - 60px);
  
}
.letter_worning {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #bbb;
}


