body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
#cal {
  background: var(--theam1-main);
  width: 400px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px #00000044;
  box-sizing: border-box;
}


.cal__setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bring__btn {
  background: url(../img/clock.svg) no-repeat center/cover;
  height: 38px;
  width: 38px;
}

.mood__track {
  height: 30px;
  width: 70px;
  border-radius: 30px;
  box-shadow: inset 3px 3px 6px #00000044;
  background: #00000022;
}

.mood__bar {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 6px #00000044;
}
.mood__bar-inner {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-shadow: inset 3px 3px 3px #fff;
  background: var(--theam1-main);
}


.cal__screen {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 10px #00000044;
  padding: 30px 20px;
  position: relative;
}

.screen__formula {
  text-align: end;
  font-size: 3rem;
  color: #707070;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.screen__answer {
  text-align: end;
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  right: 20px;
}


.cal__input {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px 10px;
  grid-template-areas: 'ac c percent times' 'n7 n8 n9 divide' 'n4 n5 n6 plus' 'n1 n2 n3 minus' 'n0 dot bracketleft bracketright' 'submit submit submit submit'
}

.btn-frame {
  border-radius: 35px;
  box-shadow: 3px 3px 6px #00000033;
  padding: 3px;
  box-sizing: border-box;
  background: #e7e7e7;
  border: 1px solid #ddd;
  cursor: pointer;
}
.input__btn {
  border-radius: 32px;
  box-shadow: -3px -6px 6px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 60px;
  color: #707070;
  background: var(--theam1-main); 
  box-sizing: border-box;
}
.btn-frame:last-child {
  grid-area: submit;
}

.s_colorfont {
  color: var(--theam1-point1);
}
.s_colorbg {
 color: #fff;
  background: var(--theam1-point1);
}
.s_colorbg.input__btn {
  box-shadow: -6px -6px 6px #ffffff66;
  background: var(--theam1-point1-1);
  
}

.btn-frame:nth-child(n+19):nth-child(-n+20) {
  background: var(--theam1-point2-1);
}
#bracet-left, #bracet-right {
  background: var(--theam1-point2);
}

.btn-frame:active, .btn-frame:active .input__btn {
  box-shadow: inset 1px 1px 10px #00000022;
}
.btn-frame:active .input__btn {
  padding-top: 3px;
}
#times, #divide, #plus, #minus, #submit {
  font-size: 4.3rem;
}
button {
 width: 100%;
}

#list {
  width: 300px;
  padding-top: 100px;
}
.list__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 0 20px;
}

#list__recent {
  border-bottom: 1px solid var(--theam1-point1);
}
.list__item {
  background: var(--theam1-point2);
  border-radius: 5px;
  padding: 0.3em 0.5em;
}
